*{
    color: white;
    font-family: 'Roboto', sans-serif;
        user-select: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: #7a7a7a;
}



#menu{
    padding-top: 3vh;
    width: 100%;
    opacity: 0.7;
    background: linear-gradient(135deg, #501e72, #367d8a);
    padding-bottom: 3vh;
}

#menu h3{
    font-size: 2.5vh;
    display: inline;
    padding: 3vh;
}

input::placeholder{
    opacity: 0.3;
    text-align: center;
}

input{
    display: block;
    margin: 3vh;
    font-size: 3vh;
    width: 35vh;
    height: 7vw;
    border-radius: 4px;
}

ul{

    padding: 1vh;
}
li{

    padding: 0.8vh;
}
